.cart-container {
    display: flex;
    flex-direction: column;
    padding: 0 24px 24px;
}

.cart__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.cart--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-button {
    padding: 8px;
}

.price-details {
    padding: 0;
}

.price-details__heading {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 12px;
}

.price-details__item {
    display: flex;
    justify-content: space-between;
}

.price-details__attribute,
.price-details__value {
    margin: 0 0 16px 0;
    font-weight: 500;
}

.price-details__split {
    border-bottom: 1px solid var(--gray);
}

.total-price {
    margin: 12px 0;
    border-bottom: 1px solid var(--gray);
    font-weight: 600;
}

.total-price__attribute,
.total-price__value {
    margin: 0 0 16px 0;
}

.price-details__checkout {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cart-container {
        flex-direction: row;
        gap: 24px;
        max-width: 900px;
    }

    .cart {
        flex-grow: 1;
    }

    .cart__items {
        grid-template-columns: 1fr;
    }

    .price-details {
        padding-top: 9px;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .cart-container {
        flex-direction: row;
        max-width: 1100px;
    }

    .cart {
        flex-grow: 1;
    }

    .cart__items {
        grid-template-columns: 1fr;
    }

    .price-details {
        width: 28%;
    }
}
