.product {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 16px;
}

.product__image {
    border-radius: 22px;
    /* height: 256px; */
    width: 100%;
}

.product__details {
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    margin-top: 4px;
}

.product__rating {
    background-color: var(--primary);
    border-radius: 6px;
    color: #fff;
    display: flex;
    font-size: 12px;
    gap: 4px;
    padding: 4px 6px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.fa-star:before {
    font-size: 9px;
}

/* if whishlist item then set product title margin to 0 */
/* else set margin left and right to 8px */
/* because of specificity only one product title styling applies */
.product__title {
    margin: 0;
}

.product__details .product__title {
    margin: 0 8px;
}

.product__price {
    font-size: 19px;
    font-weight: 500;
    justify-self: flex-end;
}

.product__buttons {
    display: flex;
    gap: 32px;
}

.product__button {
    flex: 1 1 0px;
    font-weight: 600;
    padding: 12px 14px;
    font-size: 16px;
}
