.about {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
}

.about__heading {
    line-height: 1.5;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.about__paragraph {
    line-height: 2;
    margin: 0;
}

.about__image {
    width: 55%;
}
