.row--nav {
    justify-content: space-between;
}

.left,
.right {
    flex: 1;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    gap: 36px;
}

.title {
    margin: 0;
}

.nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav__item {
    padding: 8px 20px;
}

.options {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav__list,
.options {
    margin: 10px 0px;
}

.options__item {
    padding: 8px 20px;
}
