.header {
    align-items: center;
    display: grid;
    grid-template-areas:
        "logo logo hamburger"
        "search search search"
        "nav nav nav";
    justify-content: space-between;
    padding: 12px 12px 12px 24px;
}

.header.active {
    background-color: #f8f8f8;
}

.logo {
    display: flex;
    grid-area: logo;
}

.logo__link {
    text-decoration: none;
}

.logo__image {
    display: none;
}

.logo__name {
    font-size: 1.5rem;
    color: black;
}

.search {
    width: -webkit-fill-available;
    grid-area: search;
}

.search__input {
    border: 2px solid #ababab;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}

.nav {
    display: none;
    grid-area: nav;
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    text-align: center;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 18px 0;
    z-index: 2;
}

.nav.active {
    display: flex;
}

.nav__link {
    color: black;
    font-weight: 500;
    padding: 12px 16px;
    text-decoration: none;
}

.nav__link:hover {
    background-color: var(--secondary);
    border-radius: 8px;
    color: var(--primary);
}

@media screen and (min-width: 768px) {
    .header {
        grid-template-areas: "logo search search search nav";
    }

    .header.active {
        background-color: unset;
    }

    .nav,
    .nav.active {
        display: block;
    }

    .nav {
        position: unset;
        background-color: unset;
    }

    .search {
        padding-right: 0;
        width: -webkit-fill-available;
    }
}

@media screen and (min-width: 1024px) {
}
