.cart-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cart-item__image {
    width: 100%;
    border-radius: 12px;
}

.cart-item__details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cart-item__heading,
.cart-item__price,
.cart-item__category {
    margin: 0;
    flex-grow: 1;
}

.cart-item__price {
    font-size: 24px;
    font-weight: 500;
}

.cart-item__property {
    margin-right: 4px;
    font-weight: 500;
}

.quantity {
    flex-grow: 1;
}

.quantity__button {
    padding: 6px 12px;
    font-size: 20px;
}

.quantity__number {
    padding: 8px 12px;
}

.cart-item__buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cart-item__button {
    flex-grow: 1;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .cart-item {
        flex-direction: row;
    }

    .cart-item__image {
        width: 353px;
        height: 235px;
    }
}
