.single-product {
    margin: 8px auto;
}

.single-product__image-wrapper {
    width: 40%;
    padding: 28px;
    border: 1px solid #d1cdcd;
    border-radius: 12px;
}

.single-product__image {
    width: 100%;
}

.single-product__buttons {
    display: flex;
    gap: 20px;
}

.single-product__button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    flex: 1 1;
}

.single-product__details {
    width: 0;
    flex-grow: 1;
}

.single-product__price {
    font-size: 24px;
    font-weight: 500;
}
