.single-product {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
}

.single-product__image {
    width: 100%;
    border-radius: 16px;
}

.single-product__buttons {
    display: flex;
    gap: 20px;
}

.single-product__button {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    flex: 1 1;
}

.single-product__price {
    font-size: 24px;
    font-weight: 500;
}

.product__ratings-and-reviews-count {
    display: flex;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .single-product__image-wrapper {
        width: 60%;
        padding: 32px;
        border: 1px solid #d1cdcd;
        border-radius: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .single-product {
        flex-direction: row;
    }

    .single-product__image-wrapper {
        width: 40%;
        border: none;
        padding: 0;
    }

    .single-product__details {
        width: 0;
        flex-grow: 1;
    }
}

@media screen and (min-width: 1440px) {
    .single-product {
        width: 1390px;
    }

    .single-product__image-wrapper {
        padding: 32px;
        border: 1px solid #d1cdcd;
    }
}
