:root {
    --primary: #00875a;
    --secondary: #c9ffed;
    --medium-green: #80f8d0;
    --gray: #bbbbbb;
    --blue-gray: #1e2f4f;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    padding: 12px 24px;
}

.row {
    display: flex;
}

.row--center {
    justify-content: center;
}

.button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary);
    color: white;
}

.button--primary {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
}

.button--secondary {
    border: 1px solid var(--primary);
    background-color: white;
    color: var(--primary);
}
