:root {
    --primary: #00875a;
    --secondary: #c9ffed;
    --medium-green: #80f8d0;
    --gray: #bbbbbb;
    --blue-gray: #1e2f4f;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    padding: 12px 24px;
}

.row {
    display: flex;
}

.row--center {
    justify-content: center;
}

.row--space-between {
    justify-content: space-between;
}

.row--gap-8 {
    gap: 8px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column--center {
    align-items: center;
}

.button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button--primary {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
}

.button--secondary {
    border: 1px solid var(--primary);
    background-color: white;
    color: var(--primary);
}

.button--secondary:disabled {
    border: 1px solid var(--medium-green);
    color: var(--primary);
    cursor: pointer;
}

.button--secondary:disabled:hover {
    border: 1px solid var(--medium-green);
    background-color: white;
    color: var(--primary);
    cursor: default;
}

.button--primary:hover,
.button--secondary:hover {
    background-color: var(--primary);
    color: white;
}

.button--text {
    background-color: white;
    color: var(--primary);
}

.navlink--no-underline {
    text-decoration: none;
}

.form {
    gap: 24px;
    margin-bottom: 16px;
    width: 26%;
}

.form__heading {
    font-size: 26px;
    margin-bottom: 0;
}

.form__input {
    padding: 12px;
    border-radius: 6px;
    border: 2px solid #d0d0d0;
    width: -webkit-fill-available;
}

.form__navlink {
    color: var(--primary);
}

.form__guest-login-button {
    font-size: 16px;
}

.form__submit {
    padding: 12px;
    font-size: 18px;
}

.password-container {
    position: relative;
}

.password__eye-icon {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}
